.widgets {
  position: relative;
  top: 0px;
  flex: 0.2;
  margin: 25px 0;
  margin-right: 30px;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  background: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
}
.widgets_avatar {
  height: 50px;
  width: auto;
}
.details {
  text-align: start;
  margin-left: 5px;
}
.details > h4 {
  margin-bottom: 1px;
}
.details > h5 {
  margin-bottom: 10px;
  margin-top: 1px;
  font-weight: 400;
}
.follow_btn {
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
  margin-bottom: 20px;
}
.follow_btn:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
